html{
  scroll-behavior: smooth;

}
body{
  background-color: #FFFFFF;
}
.navbar{
  margin-bottom: 0;
  padding: 0 50px 0 50px ;
  background-color: #fff;
  font-family: nexa_rust_sansblack, helvetica, arial, sans-serif;
  height: 40px;
  border: unset;
}
@media (min-width: 768px){
.navbar-nav>li>a {
  margin-top:15px;
}
.navbar-brand{
padding :35px;
}
}

.jumbotron{
  padding: 0;
}
.jumbotron h2,h1{
  margin-bottom: 25px;
  font-family: Comic Sans, Comic Sans MS, cursive;
}

.nav-link:hover{
color: #00BFFF;
}

#diemkhoihanh,#ngaykhoihanh,#diemden,#soluongve{
  display: inline-block;
  color: #fff;
  margin: 20px;
  font-family: Comic Sans, Comic Sans MS, cursive;
  
}
.input-start,.input-end,.input-date,.input-TicketNumber{
  color: #000;
  border-radius: 25px;
  font-family: Comic Sans, Comic Sans MS, cursive;
}
#header-img{
  background-color: rgba(35, 29, 38, 0.8);
  border-radius: 25px;

}
#Img-background{
margin: 0;
width: auto;
padding-top:150px;
position: relative;
}

.carousel-inner img {
  width: 100%; 
  margin: auto;
  min-height:200px;
}

@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}
.fadein {
    opacity:0;
}

.brand-icon{
  height: 150px;
  width: 150px;

}
#brand-img{ 
  height: 600px;
  width: 100%;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
/*----Line*/
.line{
  display: inline;
}
#Routes{
  background: #202020;
  padding-top:100px;
}
/*-----------------------btn submit*/
.btn {
  display: inline-block;
  margin: 15px auto;
  
  -webkit-border-radius: 10px;
  
  -webkit-box-shadow: 
      0px 3px rgba(128,128,128,1), /* gradient effects */
      0px 4px rgba(118,118,118,1),
      0px 5px rgba(108,108,108,1),
      0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),
      0px 8px rgba(78,78,78,1),
      0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
  
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.btn span {
  background-color: #E8E8E8;

      -webkit-box-shadow:
          0px -1px #fff, /* top highlight */
          0px 1px 1px #FFFFFF; /* bottom edge */
  
  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  
  display: inline-block;
  padding: 10px 40px 10px 40px;
  
  color: #3A474D;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
  font-weight: 700;
  font-size: 17px;
  
  text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

      .btn span:hover {
          color: #2BA89E;
          text-shadow: 0px -1px #97A63A;
          cursor: pointer;
      }

      .btn:active {
          -webkit-box-shadow: 
              0px 3px rgba(128,128,128,1),
              0px 4px rgba(118,118,118,1),
              0px 5px rgba(108,108,108,1),
              0px 6px rgba(98,98,98,1),
              0px 7px rgba(88,88,88,1),
              0px 8px rgba(78,78,78,1),
              0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
      }

      .btn:active span{
          -webkit-transform: translate(0, 5px); /* depth of button press */
      }

  .btn span:after {
      display: block;
      width: 10px;
      height: 10px;
  
      position: absolute;
      right: 14px;
      top: 12px;    
      
      font-family: 'Cabin';
      font-weight: 700;
      color: #AEBF3B;
      text-shadow: 0px 1px #fff, 0px -1px #97A63A;
      font-size: 26px;
  }
/* row */
#TopDes h2{
  color: #fff;
  text-align: center;
  font-size: 50px;
  padding: 15px;
}
#TopDes p{
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
#services h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
#servicesh4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}  

.logo-small {
  color: #f4511e;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 200px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

/* -----------------------------------slideshow----------------------------*/
#slideshow{
  background: #FFFFFF;
  height: auto;
  margin: 0;
  padding: 0px 50px 0px 50px ;
  text-align: center;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;

}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 1000px;
  height: 400px;
}
#slideshow p{
  font-family: Comic Sans, Comic Sans MS, cursive;
}

/*---------------------------- scroll*/

#ScrollImg{
  background-image:url(img/cover_bg_1.jpg);
min-height: 500px; 
min-width: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*-------Footer------*/
.page-footer{
  color: rgb(159, 175, 172);
}
footer {
  background: #1D2020;
  padding: 25px;
}
.col-md-2,.col-md-4 p{
  font-size: 13px;
}
.col-md-2 p a{
  color: rgb(159, 175, 172);

}
.icon-footer{
  background-image: url(../img/footer-icon.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
  width: 130px;
  margin: 0 auto;
}
/*----------section----------*/
#sectionBtn{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-size: 40px;
  color: #FFFFFF;
}





