
body{
  background-color: rgb(242, 242, 242);
}
.navbar{
  margin-bottom: 0;
  padding: 0 50px 0 50px ;
  background-color: rgb(255, 255, 255);
    font-family: "Nunito Sans", sans-serif;
  height: 80px;
  border: unset;
}
@media (min-width: 768px){
.navbar-nav>li>a {
padding: 30px 5px 30px 30px;
}
.navbar-brand{
padding :35px;
}
}
.jumbotron{
  height: 800px;
  margin: 0;
  padding: 0px 50px 0px 50px ;
  text-align: center;
}
.jumbotron h1{
  margin-bottom: 30px;
}
#img-header{
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.nav-link:hover{
color: #00BFFF;
}
footer {
  background: inherit;
  padding: 25px;
}
#diemkhoihanh,#ngaykhoihanh,#diemden,#soluongve{
  display: inline-block;
  color: #000;
  margin: 20px;

  
}
.input-start,.input-end,.input-date,.input-TicketNumber{
  color: #000;
  border-radius: 25px;
}
#header-img{
  background-color: #F7F7F9;
  box-shadow: 10px 10px 5px ;
  border-radius: 25px;

}
#Img-background{
margin: 0;
width: auto;
padding-top:50px;
position: relative;
}

.carousel-inner img {
  width: 100%; 
  margin: auto;
  min-height:200px;
}

@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}
.fadein {
    opacity:0;
}
/*----Line*/
.line{
  display: inline;
}
/*-----------------------btn submit*/
.btn {
  display: inline-block;
  margin: 0 auto;
  
  -webkit-border-radius: 10px;
  
  -webkit-box-shadow: 
      0px 3px rgba(128,128,128,1), /* gradient effects */
      0px 4px rgba(118,118,118,1),
      0px 5px rgba(108,108,108,1),
      0px 6px rgba(98,98,98,1),
      0px 7px rgba(88,88,88,1),
      0px 8px rgba(78,78,78,1),
      0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
  
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.btn span {
  background-color: #E8E8E8;

      -webkit-box-shadow:
          0px -1px #fff, /* top highlight */
          0px 1px 1px #FFFFFF; /* bottom edge */
  
  -webkit-background-size: 100%, 100%, 100%, 4px 4px;
  
  -webkit-border-radius: 10px;
  -webkit-transition: -webkit-transform .1s ease-in-out;
  
  display: inline-block;
  padding: 10px 40px 10px 40px;
  
  color: #3A474D;
  text-transform: uppercase;
  font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
  font-weight: 700;
  font-size: 17px;
  
  text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

      .btn span:hover {
          color: #2BA89E;
          text-shadow: 0px -1px #97A63A;
          cursor: pointer;
      }

      .btn:active {
          -webkit-box-shadow: 
              0px 3px rgba(128,128,128,1),
              0px 4px rgba(118,118,118,1),
              0px 5px rgba(108,108,108,1),
              0px 6px rgba(98,98,98,1),
              0px 7px rgba(88,88,88,1),
              0px 8px rgba(78,78,78,1),
              0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
      }

      .btn:active span{
          -webkit-transform: translate(0, 5px); /* depth of button press */
      }

  .btn span:after {
      display: block;
      width: 10px;
      height: 10px;
  
      position: absolute;
      right: 14px;
      top: 12px;    
      
      font-family: 'Cabin';
      font-weight: 700;
      color: #AEBF3B;
      text-shadow: 0px 1px #fff, 0px -1px #97A63A;
      font-size: 26px;
  }
/* row */
.column p a {
  color:  black;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* ------------------------slide fade in------------------------- */
#container-centertext
{   
    
    height: 300px;
    width: 250px;    
    margin: 0;
}



.hideme
{   
    opacity:0;
    margin: 50px 50px 50px 200px;
}
#hideme-text{
  color: #fff;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif; 
  left:20%;
  width: auto;
  
}
/* ---------title center */
#title-center{
  color: #fff;
  text-align: center;
  font-family: Georgia;
} 
#hideme-text #form-hideme{
    width: 500px;
}
/* -----------------------------------slideshow----------------------------*/
.swiper-container {
  width: 100%;
  padding-top: 50px;

}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 600px;
}


/*---------------------------- scroll*/

#ScrollImg{
  background-image:url(../img/cover_bg_1.jpg);
min-height: 300px; 
min-width: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/*-------------------img slide uip*/
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
 
#containerFluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}